*{
  margin: 0;
  padding: 0;
  font-family:'Sedgwick Ave Display', cursive;
  box-sizing: border-box;

}
.container{
    /*height: 641px;*/
    background-image: url(images/background2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*opacity: .7;*/
}
.container-2{
  background: #80808099;
  height: 100vh;
}
.div_img_logo{
  display: inline;
}
.logo{
  width: 15%;

}
.tabs{
  list-style: none;
  position: relative;
  margin-left: 220px;
  margin-top: -100px;
}
.tabs li{
  float: left;
}
.tabs li>input{
  display: none;
  position: absolute;

}
#home_content p{
  font-size: 30px;
  font-weight: 550;
  line-height: 45px;
  width: 600px;
  margin-top: 5%;
  background: #0c0c0c7d;
    color: white;
    padding: 15px;
}
.tabs .tab-content{
  display: none;
  position: absolute;
  left: 0;
}
.tabs .tab-content_home{
  display: none;
  position: absolute;
  left: 0;
}
.img-home{
  border: 3px solid #00000075;
  border-radius: 100%;
  margin-top: 5%;
  padding: 10px;

}
.tabs li>label{
  line-height: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
/*functionality*/
.tabs li>input:checked + label{/*the input when checked the after input do that*/
  border-bottom: 2px solid #ff1504;
}
.tabs li>input:checked ~ .tab-content{/*the input check give the sibling class .tabs and do that*/
      display: block;
      margin-top: 60px;
}
#home_content{
  text-align: center;
  margin-left: 10%;
}

@media screen and (max-width:830px) {

  .tabs{
    margin-left: 20%;
  }
  .tabs li{
    width:50%;
    margin-top:20px;
    padding-top: 10px;
  }
  .container{
      background-size: cover;
      overflow-x: hidden;
  }
  .tabs .tab-content_home{
    margin-top: 100px;
    margin-left: -100px;
  }
  #home_content p{
    font-size: 25px;
    line-height: 65px;
  }
  .img-home{
    width: 20%;
    margin-top: 10%;
  }
  .tabs li>label{
    font-size: 22px;
  }
  #home_content{
    margin-top: 10%;
    margin-left: -24%;
  }

}
@media screen and (max-width:660px) {
  .tabs li{
    width:50%;
    margin-top:20px
  }
  .container{
      background-size: cover;
      overflow-x: hidden;
  }
  .tabs .tab-content_home{
    margin-top: 100px;
    margin-left: -100px;
  }
}
@media screen and (max-width:530px) {
  .tabs{
    top: 3%;
  }
  #home_content{
    text-align: center;
    margin-left: -142px;
  }
  #home_content p{
    font-size: 18px;
  }

}
/*start of team cards*/
.team-cards {
  display: flex;

  justify-content: space-around;
  margin-left: 40%;
    width: 100%;
}
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 2000px;
  margin-bottom: 8%;
}
.two-flip-cards{
    display: block;
    max-width: 50%;
    width: 250px;
    height: 402px;

}

.flip-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
    background-color: #141d235c;
    color: black;
    z-index: 2;
    border: 2px solid #cacbce87;
    border-radius: 50%;
    padding: 10px;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  background-color: #141d23;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  border: 2px solid RED;
  border-radius: 50%;
  justify-content: center;
}

.card-links {
  line-height: 2;
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}
.card-links:hover {
  color: RED;
}

@media only screen and (max-width: 1050px) {
  /* .team-cards {
    flex-wrap: wrap;
  } */
  .flip-card {
    padding: 10px;
    margin-bottom: 0;
    flex: 1 0 20%;
    max-width: 70%;
    max-height: 70%;
  }
  .team-cards{
    margin-left: 0;
  }
  .flip-card-back h3{
    font-size: 1em;
  }
}
@media only screen and (max-width: 650px) {
  .team-cards {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }
  .flip-card{
    width: 200px;
    height: 200px;
  }

  .two-flip-cards{
    max-width: 400px;
    margin: 0px;
  }
  .container-2{
    height: 983px;
  }


}


/*amin area*/


.about__h2 {
  width: 250px;
  font-size: 50px;
  margin: 0 auto;
}
.about__us1 {
  color: white;
  font-size: 150%;
  line-height: 7vh;
  background: #0c0c0c5e;
    color: white;
    padding: 15px;
    margin-top: 5%;


}
.about__us {
  min-height: 450px;
}
.img__left {
  background-image: url(../img/3.jpg);
  background-size: 600px;
  background-position: center center;
  height: 300px;
  width: 300px;
  border-radius: 100%;
}
.container1 {
  width: 80%;
  text-align: center;
}
.about__span{
  color: #008000;
}
@media(max-width: 660px){
  .about__us1{
    font-size:120%;
    line-height: 3ch;
  }
  .about__h2 {
    font-size: 40px;
    margin-top:10%;
  }
}
